footer .cta-section {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 4em;
}

.cta-section {
    text-align: center;
}

.border {
    text-align: center;
    border-top: 1px solid #f0eeee;
}

a:hover .arrow-right {
    transform: translateX(5px);
    transition: all .25s ease;
    display: inline-block;
}

.arrow-right {
    padding-left: 10px;
}
.arrow-right, .arrow-left {
    display: inline-block;
    transition: all .25s ease;
}

a {
    color: #000;
    text-decoration: none;
    margin-bottom: 1.25em;
    font-weight: 700;
}

.cta-button:hover {
    transform: scale(1.025);
    transition: all .25s ease;
}

.inner-container, .outer-container {
    padding-left: 2em;
    padding-right: 2em;
}

.inner-container {
    max-width: 80em;
    margin-left: auto;
    margin-right: auto;
}

.cta-button {
    border-radius: 5px;
    border: 1px solid #ab2537fa;
    padding: 1em 1.5em;
    display: inline-block;
    font-style: italic;
    margin: 0 1em;
    margin-bottom: 1em;
    min-width: 10em;
    transition: all .25s ease;
}